
@import url(../css/nav.css);
@import url(../css/var.css);

body{
    background-color: var(--bg-body);
    margin: 0;
}
main{
    margin: 20px;
}
/* article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside>img{
    width: 200px;
} */
.carte {
   /* background-color: rgb(241, 241, 241);; */
   background-color: var(--nav-bg-color);
    margin: 1%;
    display: flex;
    width: 48%;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 0px #0000000F;

}
.carte>img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
}

main>section>p{
    margin-bottom: 3%;
}
h1{
    font-size: 30px;
    text-align: center;
}

#cartes {
    display: flex;
    flex-wrap: wrap;
}

p{
    text-align: justify;
    margin-right: 18px;
}
svg{
    color: #33D5F0;
}
nav>ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    display: flex;
}
nav{
    display: flex;
    background-color: var(--nav-bg-color);
    box-shadow: 0px 4px 30px 0px #0000000F;
    border-radius: 0 0 40px 40px;

}
nav>div{
    display: flex;

}