@import url(../css/var.css);
@import url(../css/navMobile.css);
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
header {
    background-image: url("../images/fond article/1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    align-items: flex-start; 
    color : white; 
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 3px;
}

div {
    display: flex;
    align-items: center;
}

img{
    margin : 10px; 
}

section {
    margin :10px;  
}

h1 {
    font-size: 30px;
    font-family: "ABeeZee";
    font-weight: 400;
}

h2 {
    font-size: 15px;
    font-weight: normal;
    font-family: "ABeeZee";
}


article>h2{
    font-family: "MontSerrat";
    font-size: 30px;
    font-weight: 700;
    color: var(--blue-h1);
}
p{
    font-family: "ABeeZee";
}

article {
    margin : 20px; 
}
@media screen and (max-width : 768px){
    
    header{
        height: 290px;
    }
}