@import url(../css/var.css);

body{
    margin: 0;
    background-color: var(--bg-body);
    overflow-x: hidden;
}
ul{
    padding: 0;
}

#page1>main{
    margin: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
a{
    text-decoration: none;
}

#page1>header{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}
#page1>header>img{

    width: 200px;
    margin: auto;
    margin-bottom: 2%;
}
#page1>header>h1{
    
    margin: auto;
}

main{
    
}
#page1>main>:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    /* margin: 20px; */
    /* margin: auto; */
    /* width: 100%; */
}
#page1>main>div>h2{
    /* margin: auto; */
    text-align: center;
}
#page1>main>div>p{
    /* margin: auto; */
    text-align: center;
}
#page1>main>div>button{
    /* margin: auto; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0px 4px 20px 0px #0e060650;
    border: 0;
    border-radius: 25px;
    padding: 1%;



}
#page1>main>:nth-child(2)>:nth-child(1){
    background-color: #237E9E;
}
#page1>main>:nth-child(2)>:nth-child(1)>a{
    color: var(--nav-bg-color);
}
#page1>main>:nth-child(2)>:nth-child(2){
    background-color:#F3F3F3;
    
}


#page1>main>div>button>a{
    text-decoration: none;
    color: black;
}
#page1>footer>p{
    text-align: center;
}

/* page Connexion */

#bienvenue{
    width: 50%;
    margin-left: 50%;
    /* height: 300px; */
}
h1{
    margin-top: -30%;
    margin-bottom: 15%;
    text-align: end;
    margin-right: 10%;
    color: var(--nav-bg-color);
    font-size: 6vw;
}
#seConnecter>main, #sInscire>main{
    display: flex;
    flex-direction: row;
}
header>nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5%;
    padding-bottom: 0;

}
header>nav>a{
   
    margin-top: auto;
    margin-bottom: auto;

}
nav>a>svg{
    width: 5%;
    justify-content: center;
}
nav>img{
    width: 4%;
    margin: 0;
}


form{
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-left: auto;
}
form>div{
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    margin-bottom: 15px;
}
label{
    margin-bottom: -15px;
    width: fit-content;
    /* background-color: #237E9E; */
    background-color: var(--nav-bg-color);
    border: 1px solid #C4C4C4;

    z-index: 1;
    margin-left: 3%;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    /* color :#F3F3F3 */
}
input{
    padding: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background-color: var(--nav-bg-color);
    /* width: 100%; */
}
#seConnecter>main>form>:nth-child(3)>input{
    /* width: ; */
    /* height: 40px; */
    background-color: #237E9E;
    color: var(--nav-bg-color);
    width: fit-content;
    padding: 15px;
    margin: auto;
    cursor: pointer;
    /* vertical-align:middle; */
}
button>a>img{
    /* height: 0.1%; */
    width: 20px;
    margin-right: 10px;
}
aside{
    width: 49%;
}
aside>div{
   display: flex;
   flex-direction: column;
     
}
aside>p{
    text-align: center;
    /* margin: auto; */
    
      
}
aside>div>button{
   border: 0;
   background: none;
    
}
aside>div>button>a{
    width: 40%;
    display: flex;
    border: 0;
    margin: auto;
    border-radius: 20px;
    background-color: #237E9E;
    padding: 15px;
    justify-content: center;
    text-decoration: none;
    color: var(--nav-bg-color);
    margin-top: 10px;

}
aside>div>:nth-child(2)>a{
   
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px #0e060650;
    color: black;
    

}

/* S'inscrire */

#sInscrire>main{
    display: flex;
    flex-direction: row;
}
#sInscrire>main>form{
    margin-top: -10%;
}