
body>nav>ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body>nav{
    display: flex;
    background-color: var(--nav-bg-color);
    box-shadow: 0px 4px 30px 0px #0000000F;
    border-radius: 0 0 40px 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    padding: 0.5%;

}
body>nav>div{
    display: flex;
    align-items: center;
    margin-right: 10px;

}
body>nav>div>a>img{
    width: 50px;
    height: 50px;
    padding: 10px;
}

li { 
    margin: 20px;
    
}
nav :last-child{
    margin-right: 3%;
}

@media (max-width: 768px) {
    body>nav>ul{
        display: none;
    }
    body>nav{
        padding: 2vw;

    }
}
