@import url(../css/nav.css);
@import url(../css/var.css);

body{
    margin: 0;
    background-color: var(--bg-body);
}
ul{
    padding: 0;
}

main{
    margin: 1%;
}
.container{
    display: flex;
    align-items: flex-start;
}


#card>div>img{
    width: 120px;
    border-radius: 50%;
    margin : 20px; 
}

#plus {
    width: 30px;
}
#color {
    width:200px; 
    height: 133px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    box-shadow: 0px 4px 30px 0px #0000000F;
    border-radius: 20px; 
    background-color: var(--nav-bg-color);
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
li{
    text-decoration: none;
    list-style-type: none;
    margin-left: 0;
}
ul{
    padding: 0;

}

button {
    background-color: rgb(57, 146, 254);
    border: none;
    border-radius: 8px;
    padding : 5px 15px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

#btnModifider {
    margin-top: auto;
    color : black; 
    background-color: rgb(150, 162, 177);
    border: none;
    border-radius: 8px;
    padding : 5px 15px;
}

#btnModifider>a{
    color: black;
}


#sante {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardSante{
    background-color: var(--nav-bg-color);
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 0px #0000000F;
}

.cardSante>img{
    border-radius: 10px 10px 0px 0px;
    width: 300px;
}

.cardSante> div > button {
    background-color: rgb(57, 146, 254);
    border: none;
    border-radius: 8px;
    padding : 5px 15px;
    cursor: pointer;
    width: 30%;
    
}

.cardSante>div{
    padding: 10px;
}